@page "/home"
@inherits HomeBase

<PageTitle>Home</PageTitle>

<EditForm Model="@Customer">

    <h3>Welcome to Banking App !</h3>
    <hr />

    <div class="form-check row">
        <label for="topup" class="col-sm-2 col-form-label">
            Top-up
        </label>
        <div class="col-sm-10">
            <InputNumber id="engine" class="form-control" placeholder="Top-up"
                         @bind-Value="Customer.Balance" />
            @* <ValidationMessage For="@(()=> EditCar.Vendor)" /> *@
        </div>
    </div>

    <div class="form-check row">
        <label for="purchase" class="col-sm-2 col-form-label">
            Purchase
        </label>
        <div class="col-sm-10">
            <InputNumber id="purchase" class="form-control" placeholder="Purchase"
                         @bind-Value="Customer.Balance" />
            @* <ValidationMessage For="@(()=> EditCar.Vendor)" /> *@
        </div>
    </div>

    <div class="form-check row">
        <label for="refund" class="col-sm-2 col-form-label">
            Refund
        </label>
        <div class="col-sm-10">
            <InputNumber id="refund" class="form-control" placeholder="Refund"
                         @bind-Value="Customer.Balance" />
            @* <ValidationMessage For="@(()=> EditCar.Vendor)" /> *@
        </div>
    </div>
    <br/>
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>


